.site-wrapper{
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/climbing.jpg);
  background-size: cover;
  background-position: center;
  .container{
    display: flex;
    justify-content: space-around;
    h1{
      color: white;
      font-weight: 900;
    }
  }
}

@media (max-width: 800px) {
  .container{
    flex-direction: column;
  }
}
