button{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
button:hover{
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
